<!-- dynamically adjust the year using the hbs.registerHelper
from the server.js file. **the below is handlebars syntax**  -->
<footer><p>&copy Created By Steven Barry {{getCurrentYear}}</p></footer>
