<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name = "mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>About Page</title>
</head>
<body>
{{> header}}
<p>Example html page using node.js to store page on web server port 3000</p>
<!-- dynamically allocates the footer from the footer.hbs file
this way the footer does not have to be duplicated in every file-->
{{> footer}}
</body>
</html>
