<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name = "mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Home Page</title>
</head>
<body>
<!--references the header.hbs file to dynamically allocate the h1-->
{{> header}}
<p>{{screamIt welcomeMsg}}</p>
<!-- dynamically allocates the footer from the footer.hbs file
this way the footer does not have to be duplicated in every file-->
{{> footer}}
</body>
</html>

<!-- Installed npm install hbs@4.0.1 which is the express view engine for handlebars
syntax used above to access attributes made in server.js -->
